@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homepage {
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s linear;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-name: imagen;
  }
  
  @keyframes imagen {
    0% {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.158)), url(https://images.wallpaperscraft.com/image/single/tropics_pool_bungalow_53974_1280x720.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    30% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0)), url(https://images.wallpaperscraft.com/image/single/palm_trees_sea_sand_1022311_1280x720.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    60% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0)) url(https://images.wallpaperscraft.com/image/single/pool_water_city_31426_1280x720.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    100% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0)), url(https://excursionesdesde.com/wp-content/uploads/excursiones-desde-Santa-Marta-1024x687.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  
  .navbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 130px;
    height: 130px;
    margin-top: 50px;
    cursor: pointer;
    justify-content: right;
  }
  h1{
    color: #fff;
    justify-content: right;
  }
  
  .navbar ul {
    list-style: none;
    padding: 5px;
    margin-right: 10px;
  
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #105c92;
    font-weight: 600;
    font-size: 20px;
     
  }
  
  li a:hover {
    transition: 0.5s;
  }
  
  .navbar a:hover {
    color: #ffffff;
    background-color: #d2b862;
    border-radius: 50px;
    padding: 10px;
  }
  
  .content {
    width: 100%;
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .content h1{
    margin-top: 80px;
    font-size: 80px;
    font-weight: 800;
}
.content P{
  font-size: 25PX;
}

.articulo0{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 400px;
  background-image: linear-gradient(#ffffff00,#0b4e7e75);
}
.articulo0 .div00{
  display: flex;
  align-items: center;
  justify-content: center;
}
.articulo0 .div00 h1{
  font-size: 40px;
}
.articulo0 button{
  padding: 10px;
  border: none;
  border-radius: 50px;
  color: #d2b862;
  background-color: #0e4166;
  font-size: 18px;
  font-weight: bold;

}
.articulo0 img{
  width: 150px;
}
.articulo0 h1{
  color: #0e4166;
}

.articulo1{
  display: flex;
  justify-content: space-evenly;
}
.articulo1 h1{
  font-size: 30px;
  display: flex;
  color: #d2b862;
}
svg {
    position: absolute;
    z-index: -1;
    width: 100%;
		box-sizing: border-box;
		display: block;
		background-color: #0e4166;
    background-image: linear-gradient(to bottom, rgba(0, 58, 99, 0.86), #0e4166);
	}
.articulo1 .adiv1{
  width: 45%;
  margin-left: 10px;
  color: #ffffff;
  margin-top: 10px;
}

.articulo1 .adiv1 .p1{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: inherit;
}
.articulo1 .div2 img{
  width: 500px;
  margin-top: 30px;
}
.piepagina{
    width: 100%;
    background-color: #024e73;
}
.piepagina .g1{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.piepagina .g1 .caja figure{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.piepagina .g1 .caja figure img{
    width: 180px;
    margin-right: 30px;
}

.piepagina .g1 .caja h2{
  font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.piepagina .g1 .caja p{
  font-family: Arial, Helvetica, sans-serif;
    color: #efefef;
    margin-bottom: 10px;
}
.piepagina .g1 .red-social a{
   font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-decoration: none;
    width: 40px;
    font-size: 30px;
    line-height: 45px;
    color: #efefef;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.piepagina .g1 .red-social a:hover{
    color: #d8c989;
}
.piepagina .g2{
    background-color: #d8c989;
    padding: 15px 10px;
    text-align: center;
    color:#024e73;
}
.piepagina .g2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .piepagina .g1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}